.button {
  display: flex;
  height: 4em;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: medium;
  background-color: aliceblue;
  color: black;
  outline: auto;
  cursor: pointer;
}

.operator{
    background-color: orange;
}